[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "MyFreshWebsite/themes/PaperMod"]
	path = MyFreshWebsite/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
